<h1 style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" 
    unselectable="on"
    onselectstart="return false;" 
    onmousedown="return false;">Add Layer</h1>
<form [formGroup]="frmLayer" (submit)="save()" >
  <div class="form-group" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" 
       unselectable="on"
       onselectstart="return false;" 
       onmousedown="return false;">
    
    <label>Layer Name:</label>
    <input type="text" class="form-control" formControlName="name" autofocus>
    <p class="text-danger" *ngIf="frmLayer.controls.name.dirty && frmLayer.controls.name.errors?.required">Layer has no name</p>
    <p class="text-danger" *ngIf="frmLayer.controls.name.dirty && frmLayer.controls.name.errors?.minlength">Layer's name too short</p>
    <p class="text-danger" *ngIf="frmLayer.controls.name.dirty && frmLayer.controls.name.errors?.maxlength">Layer's name too long</p>
  </div>
<editable-items [items]="layer.locs" [itemsLayerName]="layer.name" (edit)="editLoc($event)" >editable-items...</editable-items>

  <button type="submit" [disabled]="!frmLayer.valid" class="btn btn-default saveLayer">Save layer</button>
</form>
    

 <nav class="navbar navbar-default navbar-fixed-bottom">
        <a class="btn btn-default" routerLink="/map">Back to Map</a>
        <a class="btn btn-default" routerLink="/layer">Admin</a>
  </nav>
